<!-- Componente hijo -->
<!-- ??? es coorecto???? -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <button
        type="button"
        (click)="prev()"

        class="btn btn-outline-secondary btn-lg btn-block w-100"
      >
        ANTERIOR
      </button>
      <!-- <button
        type="button"
        [style.border]="someProperty ? '5px solid yellow' : 'none'"
        class="btn btn-outline-secondary btn-lg btn-block w-100"
      >
        ANTERIOR
      </button> -->
      <br /><br />

      <!-- <button class="my-btn" [ngClass]="setClasses()">Call to Action</button> <br> <br>
    <button class="my-btn" [ngStyle]="setStyles()">Call to Action</button> -->
    </div>

    <div class="col-lg-6">
      <button
        type="button"
        (click)="next()"
        class="btn btn-outline-secondary btn-lg btn-block w-100"
      >
        SIGUIENTE
      </button>
    </div>
  </div>
</div>

<div class="container-fluid d-flex">
  <ul class="row justify-content-center align-items-center list-unstyled">
    <li
      *ngFor="let story of storyArray; let i = index"
      [ngClass]="{'selected-sentence ' : currentSentence === i}"
      class="col-lg-12 m-3 p-1 custom-align-items-center "
    >
      {{ story.text }}
    </li>
  </ul>
</div>
