


.custom-align-items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px 15px;

  border: 3px solid #4e4d4d;
}

.selected-sentence {
  background-color: #f49eac;
}

.background-image {
  /* background-image: url("{{ storyArray[currentSentence].img }}"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin-top: 0;
}
