<!-- componente padre -->
<div *ngIf="!mostrarEscena">
  <h1 class="mt-5 text-center">Welcome To The Project</h1>
  <h3 class="mt-5 text-center">Description</h3>
  <p class="mt-5 text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
    dolorum! Veniam laudantium beatae magnam soluta, necessitatibus error rem
    eveniet ipsum, ipsam illum dolorum blanditiis sit praesentium! Officiis nam
    sit soluta? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Laudantium, dolorum! Veniam laudantium beatae magnam soluta, necessitatibus
    error rem eveniet ipsum, ipsam illum dolorum blanditiis sit praesentium!
    Officiis nam sit soluta?Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Laudantium, dolorum! Veniam laudantium beatae magnam soluta,
    necessitatibus error rem eveniet ipsum, ipsam illum dolorum blanditiis sit
    praesentium! Officiis nam sit soluta? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Laudantium, dolorum! Veniam laudantium beatae magnam
    soluta, necessitatibus error rem eveniet ipsum, ipsam illum dolorum
    blanditiis sit praesentium! Officiis nam sit soluta?Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Laudantium, dolorum! Veniam laudantium
    beatae magnam soluta, necessitatibus error rem eveniet ipsum, ipsam illum
    dolorum blanditiis sit praesentium! Officiis nam sit soluta? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Laudantium, dolorum! Veniam
    laudantium beatae magnam soluta, necessitatibus error rem eveniet ipsum,
    ipsam illum dolorum blanditiis sit praesentium! Officiis nam sit soluta?
  </p>
</div>

<div class="mt-5 d-flex justify-content-center">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="mostrarEscena = true"
  >
    Let's Go!
  </button>
</div>
<app-escena *ngIf="mostrarEscena" [storyArray]="storyArray"></app-escena>
